<!DOCTYPE html>
<html>
    <head>
        <title><%= @title %></title>
        <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans' type='text/css'>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <!--<link rel="stylesheet" href="css/bootstrap-big.min.css">-->
        <link rel="stylesheet" href="css/dashboard.css">
    </head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <div class="panel center-text purple">
                    <div class="row">
                        <div class="col-md-6">
                            <i class="fa fa-book fa-3x"></i>
                        </div>
                        <div class="col-md-6">
                            <h4>Classes</h4>
                            <h2><%= @classes.size %></h2>        
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-md-3">
                <div class="panel center-text red">
                    <div class="row">
                        <div class="col-md-6">
                            <i class="fa fa-user fa-3x"></i>
                        </div>
                        <div class="col-md-6">
                            <h4>Students</h4>
                            <h2><%= @total_enrollments %></h2>      
                        </div>
                    </div>
                </div>
            </div>
            
            <!--<div class="col-md-3">
                <div class="panel center-text green">
                    <div class="row">
                        <div class="col-md-6">
                            <i class="fa fa-building fa-3x"></i>
                        </div>
                        <div class="col-md-6">
                            <h4></h4>
                            <h2></h2>      
                        </div>
                    </div>
                </div>
            </div>-->
            
            <div class="col-md-offset-3 col-md-3">
                <div class="panel center-text green">
                    <h4><%= @today %></h4>      
                </div>
            </div>            
        </div> <!-- end row -->
        
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div>
                        <table id="upcoming-training" class="table">
                            <thead>
                                <th>Course Name</th>
                                <th>Location</th>
                                <th>Start Date</th>
                                <th class="center-text">Days Until</th>
                                <th class="center-text">Enrollments</th>
                                <th>Status</th>
                            </thead>
                            <tbody>
                            <% @classes.each_value do | klass | %>
                                <tr class= <%= klass['status'].downcase %> >
                                    <td><%= klass[:course_name] %></td>
                                    <td><%= klass[:city] %></td>
                                    <td><%= klass['startTime'].strftime("%A, %B %-d") %></td>
                                    <td class="center-text"><%= (klass['startTime'] - Date.today).to_i %> days</td>
                                    <td class="center-text"><%= klass[:enrollment_count] %> / <%= klass['capacity'] %></td>
                                    <td><%= klass['status'].capitalize %></td>
                                </tr>
                            <% end %>
                            </tbody>
                        </table>    
                    </div>
                </div>
            </div>
        </div> <!-- end row -->
        
    </div>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.0.min.js"></script>
</body>
</html>